apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-dotnet-basic-xscxmopa
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-dotnet-basic-xscxmopa:3924c4af65e5c0a14f409570124e2d7d19212ac9@sha256:a009aa31aa1d97554f769c86c5bbef34d47e7ab13acbed0c24d8e3a9eba466f8
          name: container-image
